/*
=============== 
Variables
===============
*/

:root {
  --clr-main-pink : #8D021F;
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Home
===============
*/


.sidebar-toggle {

  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-1);
  transition: var(--transition);
  cursor: pointer;

}
img{
  width: 100%;
  display: block;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}
.btn:hover {
  color: var(--clr-black);
  background: transparent;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
.header{
  width:  100vw;
  height: 4rem;
  background: var(--clr-white);
  border-bottom: 2px solid var(--clr-grey-10);
}
.header-wrapper{
height: 100%;
display: grid;
grid-template-columns: repeat(3, auto);
margin: 0 2rem;
/* background: red; */
}
.header img{
  height: 2rem;
  width: 2rem;
  margin: auto 0;
  margin-left: 1rem;
}
.logo-container{
  display: flex;
  height: 100%;
 /* background: yellow; */
}
.sidebar-toggle{

}
.logo-container h5{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 220;
  margin: auto 0;

}
.logo-container img{

}
.sidebar-toggle{

}


.logo-container,.search-container,.other-container{
  align-self: end;
}
.other-container{
  align-self: center;
  justify-self: end;
  display: none;
  grid-template-columns: auto auto;
  column-gap:1rem ;
}
.search-container{
  display: none;
  position: relative;
  /* background: blue; */
  align-self: center;
}
.search{
  width: 100%;
  height: 2rem;
  border-radius:var(--radius) ;
  border: 0;
  padding-left: 2rem;
  background: var(--clr-grey-10);
}
.search-btn{
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 765px){
  .search-container, .other-container{
    display: grid;
  }
}
.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-3);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.links a:hover {
  /* background: var(--clr-grey-10); */
  /* color: var(--clr-grey-2); */
}
.links a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
  transition: var(--transition);
}
.links a:hover svg {
  /* color: var(--clr-grey-4); */
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  /* display: grid; */
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  border-right: 1px solid var(--clr-grey-8);
  /* box-shadow: 0 6px 16px -16px rgba(0, 0, 0, 0.7); */
  /* transform: translate(-100%); */
  display: none;
}
@media screen and (min-width: 765px){
  .sidebar{
    display: grid;
    /* transform: translate(0); */
  }
}
.show-sidebar {
  display: grid;
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 250px;
    height: calc(100vh - 4rem);
  }
}
.main-content{
  width: 100vw;
  height: calc(100vh - 5rem);
  display: grid;
  /* background: red; */
}
.content{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
}

.profile-container{
  /* background: yellow; */
  width: 100%;
}
.other-details{
  /* background: blue; */
  display: grid;
  gap: 1rem;
  width: 100%;
  max-height: 10rem;
}
.footer{
  background: var(--clr-white);
  border-radius: 1rem;
  /* margin: 0 2rem; */
  margin-right: 1rem;
}
@media screen and (min-width: 765px){
  .main-content{
    width:  calc(100vw - 282px);

  }
}
.profile-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-details{
  display: grid;
  grid-template-columns:auto auto;
  column-gap: 1rem;
  align-items: center;

}
.user-image{
 border: 5px solid var(--clr-white);
 /* background: white; */
 border-radius: 50%;
 width: 8rem;
 height: 8rem;
 overflow: hidden;
 margin-left: 1rem;
}
.user-image img{
  width: 100%;
  height: 100%;
}
.user-profile h4{
 text-transform: uppercase;
 font-size: 1.2rem;
 font-weight: 200;
 margin-bottom: 0;
}
.user-profile h5{
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0;
}
.user-profile h6{
display: block;
}
.online{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: green;
  margin-right: 5px;
  align-self: center;
}
.online-container{
  margin-top: 5px;
  display: flex;
}
.user-profile h2{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;

}
.user-profile h3{
  font-size: 8px;
  font-weight: 200;
  margin-top: 0;
}

.other-user-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 2rem);
  margin: auto 0;
  row-gap: 0;
}
.simple-detail{
  margin-bottom: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--clr-grey-5);
}
.simple-detail h5{
  font-size: 10px;
  font-weight: 300;
}
.simple-detail p{
  font-size: 10px;
  font-weight: 100;
  margin: auto 0;
  margin-left: 5px;
}


@media screen and (min-width :765px){
  .other-details{
    grid-template-columns: 1fr 1fr;
  }
}
.contact-container{
color: var(--clr-white);
 background:green;
 margin-bottom: 1rem;
 border-radius: 1rem;
display: grid;
margin-right: 1rem;
grid-template-columns: auto auto;
}
.calender-container{
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background: var(--clr-main-pink);
}
.contact-content{
  margin-left: 1rem;
 color: var(--clr-white);
 display: grid;
 grid-template-rows:  auto auto;

}

.contact{
/* background: red; */
display: flex;
flex-direction: row;
/* font-size: 1rem; */


}
.contact-1{
  align-self: end;

  margin-bottom: 0;
  /* background: yellow; */
}
.contact-1{
  transform: translateY(50%);
}
.contact p{
  
  color: var(--clr-white) ;
  margin-top: 0;
  font-size: .7rem;
}
.contact h5{
  margin-left: .5rem;
  font-size: .7rem;
}
.contact-logo{
  font-size: .8rem;
  margin-bottom: 0;
}
.contacts-logo{
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}
.calender-container{
  display: grid;
  grid-template-columns: auto auto;
}
.contact h4{
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 200;
}
.contact h3{
text-transform: capitalize;
margin-bottom: 1rem;
}
.contact-3{
  align-self: end;
}
.calendar-icon{
  color: var(--clr-white);
}
.footer h6{
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
}
.footer p{
  margin-left: 1rem;
}
.footer a{
 
  margin-top: 0;
}

/* 
==================
RESULT FORM DESIGN
==================
*/

.form-container, .bill-container{
  background: var(--clr-white);
  width: 100vw;
  height: 10rem;
  margin-top: 5rem;
  margin-right: 2rem;
}
.form-header{
  border-bottom: 1px solid var(--clr-grey-8);
}
.form-header h5{
  margin: 1rem;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 1rem;
}
@media screen and (min-width: 765px){
  .form-container, .bill-container{
    width:  calc(100vw - 312px);

  }
}
.form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.form-control{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.form-control label{
  font-weight: 200;
  font-size: 1rem;
  margin-top: 1rem;
}
.form-control select{
  border: 1px solid green;
  height: 2rem;
  margin-top: 1rem;
  padding: 0 2rem;
 color: var(--clr-grey-1);
}

.submit-btn{
  width: 5rem;
  height: 2rem;
  align-self: end;
  margin-left: 2rem;
  background: green;
  border-radius: var(--radius);
  color: var(--clr-white);
  text-align: center;
  padding: 0 5px;
}
.btn-icon{
  margin-right: 5px;
}
/* 
==========
Bill style
==========
note that bill container has inherit form container style
*/
.payment-main-container{
  margin-top: 3rem;
}
.bill-container{
  height: 30rem;

}
.bill-header{
  border-bottom: 1px solid var(--clr-grey-8);

}
.bill-header h5{
  font-size: 1rem;
  font-weight: 200;
  margin: .7rem 1rem ;
}
.main-bill table{
  width: calc(100% - 9rem);
  border-collapse: collapse;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  margin: 2rem auto;
  margin-bottom: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
.main-bill thead tr{
  background: green;
  color: var(--clr-white);

}
.main-bill tbody tr{
  border-bottom: 1px solid var(--clr-grey-8);
  font-weight: 200;
}
.main-bill tbody tr:hover{
font-weight: 500;
color:  green;

}
.main-bill tbody tr:nth-of-type(even){
 background: var(--clr-grey-10);
}
.main-bill tbody td, .main-bill thead th, .main-bill tfoot td{
  padding: .7rem 0;
}
.main-bill td{
  text-align: center;
}
.main-bill tfoot tr{
  border-bottom: 2px solid green;
  color: var(--clr-main-pink);
  font-weight: 500;
}
.payment-container{
  width: calc(100% - 9rem);
  margin: 0 auto;
  background: var(--clr-grey-8);
  padding-top: 1rem;

}
.payment-container img{
  margin-left: 1rem;  
  width: 10rem;
}
.payment-btn{
  background: var(--clr-main-pink);
  border: transparent;
}
/* 
==================
Teacher Dashboard
==================
*/
.teacher-link a{
  padding: 1rem 1rem;
  font-size: 1rem;
  display: grid;
  /* grid-template-columns: auto; */
  /* overflow: hidden; */
}
/* .teacher-link a{
  font-size: 1rem !important;
  /* display: flex; */
  
  /* overflow: hidden; 
*/
.submenu{
  height: 0;
  overflow: hidden;
  display: block;
  background: var(--clr-grey-1);
  color: var(--clr-white);
  /* padding: .5rem; */
}

.show{
  height: auto;
}
.submenu li{
  margin-left: 1rem;
  margin-top: .2rem;
  color: var(--clr-white);
}
.arrow{
  justify-self: end;
  margin-left: 3rem;
}
.submenu :hover{
color: var(--clr-black);
background: var(--clr-grey-7);
}

/* 
========
result teacher
===============
 */

 .teacher-result{
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }
 .admin-sidebar{
   height: auto;
   width: 17rem;
 }
.text-input{
  height: 2rem;
  padding-left: 1rem;
}
.message{
  text-align: center;
  background: green;
  width: auto;
  max-width: 6rem;
  margin: 0 auto;
}